<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CurrencyTicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CurrencyTickerKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CurrencyTickeriOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED22F4C81E57636C00E98912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED22F4DC1E57636C00E98912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED22F4F01E5767AD00E98912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED22F4F81E5767AD00E98912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED22F5131E5767BB00E98912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED22F51B1E5767BB00E98912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
